@font-face {
  font-family: "Century Gothic";
  src:
    url("../fonts/CenturyGothic.woff2") format("woff2"),
    url("../fonts/CenturyGothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Century Gothic";
  src:
    url("../fonts/CenturyGothicBoldItalic.woff2") format("woff2"),
    url("../fonts/CenturyGothicBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Century Gothic";
  src:
    url("../fonts/CenturyGothicBold.woff2") format("woff2"),
    url("../fonts/CenturyGothicBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Century Gothic";
  src:
    url("../fonts/CenturyGothicItalic.woff2") format("woff2"),
    url("../fonts/CenturyGothicItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
