.hypno-card {
    padding: 1em 2em;
    color: #c8b9b9;
    .hypno-card-name {
        font-size: 3em;
        animation: pulsate 2s infinite;
    }
    .hypno-card-title {
        font-size: 2em;
    }
    .hypno-card-email {
        color: #c6ced6; // Default link color
        text-decoration: none;
      
        &:hover {
          color: #fd58ad; // Color on hover
          text-decoration: underline;
        }
      
        &:active {
          color: #0056b3; // Color on active
        }
      
        &:visited {
          color: #cc0099; // Color for visited links
        }
      }
}
