/* HypnoCard.scss */

.hypno-card {
  font-family: "Century Gothic", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: background-color-fader 10s infinite;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hypno-card-content {
  background-color: #021726;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px; /* Gap between columns */
  max-width: 900px; /* Limit the maximum width of the content */
  margin: 0 auto; /* Center the content horizontally */
  padding: 20px;
  align-items: center;
}

.hypno-card-name {
  color: #f6d8d8;
  font-size: 3.5rem;
  font-weight: bold;
  margin: 0;
}

.hypno-card-title {
  font-size: 2rem;
  margin: 8px 0;
  color: #e2caca;
}

.hypno-card-phone {
  font-size: 1.5rem;
  color: #b19999;
  margin: 6px 0;
}

.hypno-card-email {
  font-size: 1.25rem;
  a {
    color: #b19999;
    &:hover {
      color: #ffd483;
    }
  }
  margin: 6px 0;
}

.hypno-card-qrcode {
  margin-top: 20px;
}

.hypno-card-link {
  font-size: 1.25rem;
  font-weight: bold;
  a {
    color: #b19999;
    &:hover {
      color: #ffd483;
    }
  }
}

.hypno-card-column {
  padding: 10px;
}
